.logo {
    width: 140px;
    height: 180px;
}
.projects_title {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}
.proj_name {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
}
.proj_description {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}
.proj_listItem {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}